#button1{
  color:crimson;
  background-color: aquamarine;
  border: none;
  border-radius: 6px;
  width: 100px;
  height: 30px;
  padding: 5px;
}
#button2{
  color:rgb(2, 1, 63);
  background-color: rgb(165, 192, 183);
  border: none;
  border-radius: 6px;
  width: 100px;
  height: 30px;
  padding: 5px;
}